/* imports */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jacques+Francois+Shadow&display=swap');
/* reset em formatações do navegador */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #d3d3d3;
    scroll-behavior: smooth;
}

/* Estilizando logo */
nav{
    display: flex;
    justify-content: end;
    scrollbar-color: transparent;
    /* background-color: #E0CCB8; */
}

.logo{
    width: 70px;
    height: 70px;
    margin-right: 500px;
}

ul{
    margin-top: 20px;
    list-style: none;
    display: flex;
    align-items: center;
}

li{
    margin: 0 20px;
    display: flex;
    justify-content: end;
}
li a{
    text-decoration: none;
    color: black;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;

}

li:first-child{
  margin-right: 420px;
  margin-top: 5px;
  font-weight: 800;
  font-size: 20px

}

li a:hover{
    color: #ffffff;
    text-shadow: 0 0 0.2em #000000;
}

.img-nav{
    width: 100%;
    height: 567px;
}

/* .car img{
    width: 270px;
}

.fotos{
    display: flex;
    gap: 100px;
    margin-top: 20px;
    margin-left: 100px;

} */

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    gap: 60px;
    max-width: 1200px;
    /* margin: 0 auto; */
    margin: 30px auto;
    padding: 5px;
}

.image-grid img {
    width: 100%;
    height: 100%;
    display: block;
    /* object-fit: cover; */
    border-radius: 5px;
}
/* Proporção da imagem */

.image-item img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.copyright{
    color: #828282;
    display: flex;
    justify-content: center;
    background-color: #000000;
}

/* card escondido */
.card-info {
    display: none;
    position:absolute;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    border-radius: 5px;
    background-color: #ffffff;
}

.card-info h2{
    margin-top: 20px;
    margin-left: 140px;
    margin-right: 15px;
    background-color: #ffffff;
}

.card-info p{
    background-color: #ffffff;
}

.card-info button{
    background-color: #ffffff;
}


.card1.open .card-info {
    display: block;
}

.card1 {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.sobrenosimg{
  margin-top: 10px;
  margin-left: 140px;
  margin-right: 15px;
  width: 80%;
  height: 220px;
}
    h1 {
          color: #0a51e9;
          margin-top: 9px;
          margin-left: 140px;
          margin-right: 50px;
          justify-content: end;
          margin: justify;
      }

      h3 {
        margin-top: 20px;
        margin-left: 140px;
        margin-right: 155px;
        color: #000000;
        border-bottom: 2px solid #333;
        padding-bottom: 10px;
        margin-bottom: 20px;
      }


    /*  H2 {
String
      color: #ede719;
      margin-top: 17px;
      margin-left: 135px;
      margin-right: 135px;

      }
      */
      .Contatos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* Centraliza todo o texto dentro do div */
      }

      .Contatos h1 {
        color: #0a51e9;
        margin-bottom: 18px; /* Espaçamento para baixo */
          text-align: center;
            margin: auto;

      }

      .Contatos h2 {
        color: #000000;
        margin-top: 15px;
        margin-bottom: 8px
      }

}



.footer {
  margin-top: 15px;

}



    /* p {
          font-size: 16px;
          line-height: 1.6;
      }
*/
